.news-wrapper {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.news-header {
}

.news-body {
	flex: 1 1 auto;
	overflow: auto;
}

.news-list-get-more {
	padding: 16px 0;
	text-align: center;
}

.news-list-item {
	display: flex;
	padding: 16px 0;
	height: 300px;
	border-bottom-width: 1px;
	border-bottom-color: #E0E0E0;
	border-bottom-style: solid;
	cursor: pointer;
}

.news-list-item-img {
	width: 400px;
	height: 300px;
}

.news-list-item-body {
	padding-left: 16px;
	min-width: 400px;
	height: 300px;
	overflow: hidden;
}

.news-list-item-title {
	padding-bottom: 8px;
	color: #468DBC;
}

.news-list-item-time {
	width: fit-content;
	padding: 4px 8px;
	background: #C0C0C0;
	border-radius: 3px;
	margin-bottom: 8px;
}

.news-list-item-short-text {
	text-align: justify;
}

.news-details-header {
	display: flex;
	padding: 16px 0;
	align-items: center;
}

.news-details-title {
	flex: 1 1 auto;
}

.news-details-all-news {
	padding-left: 8px;
}

.news-details-body-prefix {
	display: flex;
	background: #E4F0F6;
}

.news-details-short-text {
	flex: 1 1 auto;
	min-width: 400px;
	height: 300px;
	padding: 16px;
	overflow: hidden;
	box-sizing: border-box;
	text-align: justify;
}

.news-details-quotes {
	width: 50px;
	height: 50px;
	padding: 0 16px 16px 0;
	float: left;
}

.news-details-img {
	width: 400px;
	height: 300px;
}

.news-details-long-text {
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: justify;
}

.news-details-time {
	padding: 4px 8px;
	background: #C0C0C0;
	border-radius: 3px;
	margin-bottom: 16px;
}
