.News {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.News-header {
}

.News-body {
	flex: 1 1 auto;
	overflow: auto;
}

.News-get-more {
	padding: 16px 0;
	text-align: center;
}

.News-ListItem {
	display: flex;
	padding: 16px 0;
	height: 300px;
	border-bottom-width: 1px;
	border-bottom-color: #E0E0E0;
	border-bottom-style: solid;
	cursor: pointer;
}

.News-ListItem-img {
	width: 400px;
	height: 300px;
}

.News-ListItem-body {
	padding-left: 16px;
	min-width: 400px;
	height: 300px;
	overflow: hidden;
}

.News-ListItem-title {
	padding-bottom: 8px;
	color: #468DBC;
}

.News-ListItem-time {
	width: fit-content;
	padding: 4px 8px;
	background: #C0C0C0;
	border-radius: 3px;
	margin-bottom: 8px;
}

.News-ListItem-short-text {
	text-align: justify;
}

.News-Details-header {
	display: flex;
	padding: 16px 0;
	align-items: center;
}

.News-Details-title {
	flex: 1 1 auto;
}

.News-Details-all-News {
	padding-left: 8px;
}

.News-Details-header-suffix {
	display: flex;
	background: #E4F0F6;
}

.News-Details-short-text {
	flex: 1 1 auto;
	min-width: 400px;
	height: 300px;
	padding: 16px;
	overflow: hidden;
	box-sizing: border-box;
	text-align: justify;
}

.News-Details-quotes {
	width: 50px;
	height: 50px;
	padding: 0 16px 16px 0;
	float: left;
}

.News-Details-img {
	width: 400px;
	height: 300px;
}

.News-Details-long-text {
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: justify;
}

.News-Details-time {
	padding: 4px 8px;
	background: #C0C0C0;
	border-radius: 3px;
	margin-bottom: 16px;
}


.News-Popup {
	position: absolute;
	padding: 16px;
	right: 50px;
	bottom: 20px;
	background: #F6F8F8;
	box-shadow: 5px 6px 10px rgba(24, 47, 54, 0.25);
	border-radius: 15px;
}

.News-Popup-header {
	padding-bottom: 8px;
	display: flex;
	align-items: center;
}

.News-Popup-caption {
	text-transform: uppercase;
	flex: 1 1 auto;
	padding-right: 8px;
}

.News-Popup-close {
}

.News-Popup-body {
	display: flex;
}

.News-Popup-img-prefix {
	padding-right: 8px;
}

.News-Popup-title {
	width: 200px;
	height: 100px;
	overflow: hidden;
}

.News-Popup-more-details {
	padding-top: 8px;
}

.News-Popup-img {
	width: 200px;
	height: 150px;
}
